# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: The outcome should tell us which free tier customers will convert into paying customers

#### 2. What are the predictors/covariates?

Answer: demographic data (age, gender, location, and profession) and customer usage data (days since last log in, and activity score)

#### 3. What timeframe is this data relevent for?

Answer: January 2015 - April 2015

#### 4. What is the hypothesis?

Answer: If you have a recent log int data and you are considered an active user, there is a greater probability you will convert to a paying customer

## Let's get started with our dataset

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

admit = pd.read_csv("../assets/admissions.csv")

In [4]:
admit.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [5]:
admit.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

# 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
Is Admitted| 0 = not admitted 1 = admitted | categorical
GRE | 220-800 | continuous 
GPA | 2.26-4.00 | continuous
Prestige | 1= not prestigious 2 = somewhat prestige 3= good prestige 4= high prestige | categorical

We would like to explore the association between X and Y

#### 2. What is the outcome?

Answer: Whether the student was admitted into grad school

#### 3. What are the predictors/covariates?

Answer: GRE, GPA, Prestige level

#### 4. What timeframe is this data relevent for?

Answer: The timeframe is not indicated in the data set

#### 4. What is the hypothesis?

Answer: If you have a higher GRE, GPA and prestige level there is a higher probability you will be admitted to grad school


Using the above information, write a well-formed problem statement.

## Problem Statement

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: 
* 1) Check to make sure there is no missing data  
* 2) Check to if any data needs to be transformed

#### 2a. What are the assumptions of the distribution of data?

Answer: Distribution should be normal

#### 2b. How will determine the distribution of your data?

Answer: Histogram

#### 3a. How might outliers impact your analysis?

Answer: The distribution would skew towards the outliers

#### 3b. How will you test for outliers?

Answer: Boxplots

#### 4a. What is colinearity?

Answer: When there are variables that can predict another variable in the data set

#### 4b. How will you test for colinearity?

Answer: Correlation matrix

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer: 
* 1) Check for missing data
* 2) Remove any outliers 
* 3) Check to see if data needs to be transformed 
* 4) Check to see if there data is normally distributed 
* 5) Check for colinearity

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model